<div class="theme-copyright">
 &copy; 2013 - <%= new Date().getFullYear() %> <a href="<%- config.root %>"><%= config.author %></a>
 |
 produce by <a href="http://bruce-sha.github.io" target="_blank">sha</a>
 |
 <!--
 <font id="counter"></font>
 -->
 <span id="busuanzi_container_site_pv">本站总访问量 <a href="//busuanzi.ibruce.info" target="_blank"><span id="busuanzi_value_site_pv"></a></span> 次</span>
</div>
<!--
<div class="copyright">
 <font id="counter"></font>
 版权所有
  <% if (config.author){ %>
  &copy; 2013-<%= new Date().getFullYear() %> <a href="<%- config.root %>"><%= config.author %></a>
  <% } else { %>
  &copy; 2013-<%= new Date().getFullYear() %> <a href="<%- config.root %>"><%= config.title %></a>
  <% } %>
</div>
<div class="theme-copyright">
  Theme by <a href="http://heroicyang.com" target="_blank">Heroic Yang</a>
   | 
  Redesign by <a href="http://bruce-sha.github.io" target="_blank">Bruce Sha</a>
</div>
-->
<div class="clearfix"></div>

<!--
<script src="//buru.u.qiniudn.com/firebase-2.0.5.js"></script>
<script src="/js/counter.js"></script>
-->
<script async src="//dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js"></script>